name: Mirror to Secondary

on:
  push:
    branches:
      - '**'
  tags:
    - '**'

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to Secondary
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.SYNC_TOKEN }}
          repository: codemandeltd-sys/codemande-academy
          branch: ${{ github.ref }}
          force: true
